@import "~bootstrap/scss/bootstrap";



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-form{
  position:relative;
  svg {
    position: absolute;
    margin: 11px;
    color: #9b9a9a;
  }
  input {
    padding-left: 38px;

  }
}

.cardBG{
    background: #ccc;
    height: 113px;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    ~ * {
      z-index:1;
      position:relative;
    }
}
